<h4>Template for main page:</h4>
<div class="container-fluid">

  <div class="well">
    <h2>Enter a zipcode:</h2>
    <input class="form-control" placeholder="Zipcode" type="text" [(ngModel)]="zipCode" id="addLocation">
    <br>
    <button class="btn btn-primary" id="addLocationBtn" (click)="getCurrentWeatherByZipCode(zipCode)">
      Add location
    </button>
  </div>
  <div *ngFor="let item of currentWeatherData; let i=index">
    <div class="well flex">
      <div>
        <h3>{{item.name}} {{item.zipcode}}</h3>
        <h4>Current conditions: {{item.weather[0].main}}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{(item.main.temp-273.15) | number : '1.0-0'}}℃
          - Max {{(item.main.temp_max-273.15)| number : '1.0-0'}}℃
          - Min {{(item.main.temp_min-273.15)| number : '1.0-0'}}℃
        </p>
        <p>
          <a [routerLink]="['/forecast', item.zipcode]" routerLinkActive="router-link-active">Show 5-day forecast for
            {{item.name}}</a>
        </p>
      </div>
      <div>
        <span class="close" (click)="remove(item.zipcode)">×</span>
        <img src="https://www.angulartraining.com/images/weather/{{item.weather[0].main | lowercase}}.png">
      </div>
    </div>
  </div>
</div>
