<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{forCastDataForZip.city.name}}</h3>

    </div>
    <ul class="list-group" *ngIf="forCastDataForZip && forCastDataForZip.list.length > 0">
      <ng-container *ngFor="let item of forCastDataForZip.list; let i=index">
        <li class="list-group-item" *ngIf="i !== 0 && i < 6">
          {{item.dt_txt | date: 'EEEE, MMM d'}}:
          {{item.weather[0].main}}
          - Min: {{(item.temp.min-273.15)| number : '1.0-0'}}℃
          - Max: {{(item.temp.max-273.15)| number : '1.0-0'}}℃
          <img class="icon"
            src="https://www.angulartraining.com/images/weather/{{item.weather[0].main | lowercase}}.png">
      </ng-container>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" [routerLink]="['']" routerLinkActive="router-link-active"
    id="mainPageBtn">&lt; Back to main page</button>
</div>
